<h1> Random Beer </h1>
{{#each  responseFromAPI}}
<h5> 
    <img src = "{{ this.image_url }}"> 
    {{ this.name}}
    {{this.description}}
    {{this.tagline}}
    {{this.food_pairing}}
    {{brewers_tips}}
</h5>
{{/each}}